<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong class="is-size-7">© Copyright <%= new Date().getFullYear() %> Simon Lee</strong>
        </p>
    </div>
</footer>