<section class="columns is-desktop is-centered is-info">
    <div class="column is-half">
        <article class="panel is-info">
            <p class="panel-heading">
                Welcome to Chip Tournaments Pro!
            </p>
        </article>
    </div>
</section>