<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Password Reset</title>
    </head>
    <body>
        <div>
            <p>
                Dear <%= name %>, <br/>
                <br/>
                <%= body %>
            </p>
        </div>
        <div>
            You are receiving this email because you are a member of <a href="http://www.chiptournamentspro.com" style="text-decoration: none; color: #8b8b8b">chiptournamentspro.com</a>
        </div>
        <div>
            Copyright © <script type="text/javascript">document.write(new Date().getFullYear());</script> <a href="http://www.chiptournamentspro.com" style="text-decoration: none; color: #8b8b8b">chip_tournaments_pro.com</a> • All Rights Reserved
        </div>
  </body>
</html>