<section class="columns is-desktop is-centered is-info">
    <div class="column is-one-fifth">
        <article class="panel is-info">
            <p class="panel-heading">
                Request Password Reset
            </p>
            <form action='reset_password' method='post' class="pb-6">
                <div class="m-5">
                    <div>
                        <label>Email:</label>
                        <input class="input" id="email" name="email" type="text" placeholder="johndoe@gmail.com"
                            required>
                    </div>
                    <div class="is-pulled-right mt-5">
                        <input class="button" name="commit" type="submit" value="Reset">
                    </div>
                </div>
            </form>
        </article>
    </div>
</section>