<section class="columns is-desktop is-centered is-info">
    <div class="column is-one-fifth">
        <article class="panel is-info">
            <p class="panel-heading">
                Set New Password
            </p>
            <form action='update_password' method='post' class="pb-6">
                <input type="hidden" name="ref" value="<%= ref %>" />
                <div class="m-5">
                    <div class="field">
                        <input class="input" type="password" name="password" placeholder="Password" id="password" required>
                    </div>
                    <div class="field">
                        <input class="input" type="password" placeholder="Confirm Password" id="confirm_password" required>
                    </div>
                    <div class="field">
                        <button class="button is-pulled-right is-success" type="submit" class="pure-button pure-button-primary">Confirm</button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</section>

<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>